
:root {
	--base: #070b4a;
	--base-1: #e8e9fd;
	--base-2: #070b4a;
	--base-3: #000;


    --gold: #ffd700;
    --scarlet: hsl(13, 96%, 47%);

    --transition-1: 0.25s ease-in-out;
}

body.dark-theme {
    --bg-primary:#070b4a;
    --bg-secondary: #393c6e;
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(0, 0%, 62%);
    --shadow-pre: hsla(0, 0%, 0%, 0.4);
    --input-bg: hsl(0, 0%, 16%);
    --title-scheme: #e8e9fd;
    
  
    --shadow-1: 10px 10px 40px var(--shadow-pre);

  }
  
body.light-theme {
    --bg-primary: #E7E7ED;
    --bg-secondary: hsl(0, 0%, 100%);
    --color-primary: hsl(0, 0%, 12%);
    --color-secondary: hsl(0, 0%, 37%);
    --shadow-pre: hsla(0, 0%, 0%, 0.1);
    --input-bg: hsl(0, 0%, 93%);
    --title-scheme: #070b4a;
    --shadow-1: 10px 10px 40px var(--shadow-pre);
  }


  html {
    box-sizing: border-box;
    height: 100%;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
  }


  body {
    position: relative;
    height: inherit;
    background: var(--bg-primary);
    color: var(--color-primary);
    font-family: "Poppins", "Open Sans", serif;

  }

  a {
    color: var(--color-primary);
}

.header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-secondary);
  backdrop-filter: blur(8px);
  color: var(--color-primary);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 99;
}



.logo-icon {
  font-size: 2rem;
  transition: .3s ease-in-out;
}

.logo-icon:hover {
  color: crimson;
  
}

.name-full {
  display: none;
  
}

.nav {
  display: none;
  position: absolute;
  top: -50rem;
  left: 50%;
  transform: translateX(-50%);
  max-height: 25vh;
  width: 90vw;
  background: var(--bg-secondary);
  transition: .3s ease-in-out;
  border-radius: 0 0 1rem 1rem ;
}

.nav.opened {
  position: absolute;
  top: 4rem;
}

.nav-ul {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.nav-li {
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-li:not(:nth-child(3)) {
  border-bottom: 1px solid var(--color-primary);
}

.nav-li-a {
  padding: 1rem 3rem;
 }






.action-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  border-left: 1px solid var(--color-primary);
}


    
.theme-btn {
  min-height: 3vh;
  padding: 4px;
  width: 3rem;
  background: var(--bg-primary);
  border-radius: 100px;
  transition: var(--transition-1);
  display: block;
  border: none;
}




.status-indicator {
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 9px -6px var(--color-primary);
  display: block;
  transition: var(--transition-1);
}


.status-indicator.day {
  left: 20px;
  box-shadow: inset 20px -20px var(--gold);
  border: 1px solid var(--color-primary);
}



.body.light-theme #menu span {
  background: var(--first-design-element);
}

.body.light-theme #menu {
  background: var(--primary-color);
}



#menu {
  display: flex;
  position: relative;
  padding: 20px;
  cursor: pointer;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  outline: none;
  z-index: 101;
}



#menu span {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 50%;
  left: 50%;
  background: hsl(0, 0%, 15%);
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 3;
}

#menu span::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--accent-color);
  transition: all 0.3s linear;

}

.first{
max-width: 15px;
  animation: span-first-off 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.second {
  animation: span-second-off 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.third {
max-width: 15px;
  animation: span-third-off 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

#menu.active:hover #menu span, 
#menu.active #menu span::before{
padding: 2px;
width: 100%;
transition: all 0.3s linear;
}
#menu.active .first {
  animation: span-first-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
#menu.active .second {
  animation: span-second-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
#menu.active .third {
  animation: span-third-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
}




.contact-me {
  display: none;
}


section:is(.about, .projects) {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-container { 
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-img {
  width: 30vw;
  border-radius: 50%;
  background: var(--bg-secondary);
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-wrap: nowrap;
}

.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.info-box h1 {
  font-size: 2rem;
  font-weight: 600;
}

.info-box span {
  background: var(--title-scheme);
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--color-primary);
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: var(--color-primary);
  color: var(--bg-primary);
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials ion-icon {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.socials ion-icon:hover {
transform: scale(1.1);
}


.wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  background: var(--bg-secondary);
	padding:30px 0px;
  width:100vw;
  max-width:100%;
  overflow:hidden;
  position:relative;
  margin: 2rem 0;
}




  .track {
    position:absolute;
    white-space:nowrap;
    will-change:transform;
    animation: wheel 40s linear infinite;
    display:flex;
    gap:20px;
    background: var(--bg-secondary);
  }

  .wheel-logo {
    width: 64px;
    height: 64px;
  }

  .section-title  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    padding: 1rem 0;
    font-size: 2.4rem;
  }

  .section-title h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  .section-title h4 {
    font-size: 1.5rem;
    font-weight: 200;
  }


  .skillContainer h3 {
    font-weight: 400;
    padding: 1rem 0;
  } 

  .skillContainer {
		background: var(--bg-secondary);
		border-radius:30px;
		padding:30px;
		display:flex;
    flex-direction: column;
  }

  .left-column {
    flex:1;
  }

  .left-column ul {
    list-style-type: none;
    gap:10px;
    margin-right:100px;
    margin-bottom:20px;
    font-weight: 300;
  }

  .left-column li {
    display:inline-block;
    background: var(--bg-primary);
    color: var(--color-primary);
    padding:10px 20px;
    border-radius:15px;
    margin-bottom:10px;
  }

  .right-column {
    flex:1;
  }

  .right-column p {
    margin-bottom:20px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
  }


  .project-flex {
    display:flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .project-item {
    padding:30px;
			background: var(--bg-secondary);
			border-radius:15px;
			position:relative;
			overflow:hidden;
  }

  .project-item img {
    position:absolute;
				top:0;
				left:0;
				height:100%;
				object-fit:cover;
				transition: ease 3s all;
  }

  .project-item:hover img {
    position:absolute;
    transform: scale(1.2);
  }

  footer {
    text-align: center;
    padding: 1rem 0;
  }
  

@keyframes wheel {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-50%);
}
}



@keyframes span-first-on {
    0% {
    transform: translate(-50%, -300%);
  }
  30% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
    
  @keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -300%);
  }
  }
  
  @keyframes span-second-on {
    0% {
        transform: translate(-50%, -50%);
    }
    
  25% {
    background: var(--accent-color);
  }
   
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
    
  100% {
    transform: translate(-150%, -50%) scale(0);
  }
    
  }
  
  @keyframes span-second-off {
    0% {
    transform: translate(-150%, -50%) scale(0);
    }
        
    25% {
    background: var(--accent-color);
    }
        
    50% {
    transform: translate(-50%, -50%) scale(1);
    }
        
    100% {
         transform: translate(-50%, -50%);
    }
       
  
  }
  
    
  @keyframes span-third-on {
     0% {
        transform: translate(-50%, 200%);
     }
    
  30% {
    transform: translate(-50%, -50%);
  }
    
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  }
    
  @keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
    
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
    
  100% {
    transform: translate(-50%, 200%);
  }
    
  }